.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.sign-in,
.sign-up {
  display: flex;
  position: relative;
  top: 200px;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 1px 1px 12px black;
}
.sign-up {
  height: 450px;
}
